// 目录大纲
$black: #000;
$red: #f00;

.scroll-nav {
    font-size: 13px;
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    padding: 15px 10px;
    position: sticky;
    top: 10px;

    @media screen and (min-width: 700px) {
        float: left;
        padding: 15px 10px;
        width: 25ch;
        top: 20px;
    }

    @media screen and (min-width: 1000px) {
        width: 25ch;
    }
}

.scroll-nav__list {
    margin: 0;
    padding-left: 1ch;
    list-style-type: none;
    line-height: 2em;
}

.scroll-nav__sub-list {
    margin: 0;
    padding-left: 2ch;
    list-style-type: none;
    line-height: 1.5em;
}

.scroll-nav__item {
    // margin-bottom: 5px;
    list-style-type: none;
}

.scroll-nav__item--active > a {
    //padding: 5px;
    font-weight: bold;
    position: relative;
    color: #000000;
    //background: $red;
    text-decoration: none;
    //transition: 0.5s;
    &:hover {
        color: $black;
    }
}

.scroll-nav__link {
    color: $black;
    text-decoration: none;
    // display: block;
    //margin: 0 auto;
    //padding-left: 42px;
}
